<html>
<head>
  <title>Node School</title>
  <link href="/assets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/profile/:name">Profile</a></li>
    </ul>
  </nav>

</body>
<html>
