<% include partials/nav.ejs %>
<h1><strong>You Have Contact With: </strong><%= data.who %></h1>
  <p><strong>Dept: </strong><%= data.depeartment %></p>
  <p><strong>email: </strong><%= data.email %></p>
